bot_fixed.json
{"name":"Kortesitos Kids - Bot Reservas","nodes":[{"id":"b1","name":"Telegram Trigger","type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[240,300],"webhookId":"kortesitos-reservas-001","credentials":{"telegramApi":{"id":"5TDadkfQPVQyb5Jq","name":"Telegram account"}},"parameters":{"updates":["message"],"additionalFields":{}}},{"id":"b2","name":"¿Es Voz?","type":"n8n-nodes-base.if","typeVersion":2,"position":[460,300],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose"},"conditions":[{"id":"cv","leftValue":"={{ $json.message.voice }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"}}},{"id":"b3","name":"Extraer Texto","type":"n8n-nodes-base.code","typeVersion":2,"position":[680,460],"parameters":{"mode":"runOnceForAllItems","jsCode":"const msg = $json.message || {};\nconst chatInput = msg.text || msg.caption || '';\nconst chatId = String(msg.chat?.id || '');\nconst nombre = msg.from?.first_name || 'Cliente';\nconst fechaHoy = new Date().toLocaleDateString('es-CO', {weekday:'long',year:'numeric',month:'long',day:'numeric',timeZone:'America/Bogota'});\nreturn [{ json: { chatInput: chat_id: chatId, nombre, fecha_hoy: fechaHoy } }];"}},{"id":"b4","name":"Obtener URL Audio","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[680,140],"parameters":{"method":"GET","url":"https://api.telegram.org/bot8778235150:AAFCccwNq9tSxSApCgqj48EK8r8D05BwI3w/getFile","sendQuery":true,"queryParameters":{"parameters":[{"name":"file_id","value":"={{ $json.message.voice.file_id }}"}]},"options":{}}},{"id":"b5","name":"Descargar Audio","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[920,140],"parameters":{"method":"GET","url":"={{ 'https://api.telegram.org/file/bot8778235150:AAFCccwNq9tSxSApCgqj48EK8r8D05BwI3w/' + $json.result.file_path }}","options":{"response":{"response":{"responseFormat":"file","outputPropertyName":"data"}}}}},{"id":"b6","name":"Transcribir Audio","type":"n8n-nodes-base.openAi","typeVersion":1,"position":[1160,140],"credentials":{"openAiApi":{"id":"yP40pwSI3QNYuEib","name":"OpenAI account"}},"parameters":{"resource":"audio","operation":"transcribe","model":"whisper-1","binaryPropertyName":"data","options":{"language":"es"}}},{"id":"b7","name":"Extraer Transcripción","type":"n8n-nodes-base.code","typeVersion":2,"position":[1400,140],"parameters":{"mode":"runOnceForAllItems","jsCode":"const chatInput = $json.text || '';\nconst tgData = $('Telegram Trigger').first().json;\nconst chatId = String(tgData.message?.chat?.id || '');\nconst nombre = tgData.message?.from?.first_name || 'Cliente';\nconst fechaHoy = new Date().toLocaleDateString('es-CO', {weekday:'long',year:'numeric',month:'long',day:'numeric',timeZone:'America/Bogota'});\nreturn [{ json: { chatInput: '[Audio transcrito]: ' + texto, chat_id: chatId, nombre, fecha_hoy: fechaHoy } }];"}},{"id":"b8","name":"Asistente Kortesitos","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[1640,300],"parameters":{"agentType":"toolsAgent","options":{"systemMessage":"={{\n'Eres la asistente virtual de Kortesitos Kids | Peluquería & Spa, en Cali, Cra 80 #10A-10 Local 21.\\n\\n' +\n'SERVICIOS:\\n• Corte cabello $39,900 (30min)\\n• Cepillado $29,000 (45min)\\n• Peinado niña $39,900 (45min)\\n• Corte+barba $46,900 (45min)\\n• Trenzas sencillas $35,000 (60min)\\n• Trenzas con extensión desde $55,000 (90min)\\n• Moños/recogidos $25,000 (30min)\\n• Spa capilar $45,000 (60min)\\n• Maquillaje mamá $40,000 (45min)\\n• Corte dama $35,000 (45min)\\n\\n' +\n'HORARIOS: Lun-Sab 9am-7pm | Dom 9am-5pm\\n\\n' +\n'PROCESO PARA AGENDAR:\\n1. Pregunta el servicio\\n2. Pregunta la fecha\\n3. Llama gestor_citas con operation=verificar_disponibilidad (incluye fecha y servicio)\\n4. Muestra horarios disponibles\\n5. Pide el nombre si no lo sabes\\n6. Llama gestor_citas con operation=crear_cita\\n7. Confirma la cita al cliente\\n\\n' +\n'REGLAS CRÍTICAS:\\n- chat_id del cliente: ' + $json.chat_id + ' — inclúyelo SIEMPRE en gestor_citas, nunca se lo pidas al cliente\\n' +\n'- Hoy es: ' + $json.fecha_hoy + '\\n' +\n'- Habla en español colombiano, tono cálido y amigable\\n' +\n'- NUNCA inventes horarios, siempre consulta verificar_disponibilidad primero\\n' +\n'- Para ver citas: operation=listar_citas\\n' +\n'- Para cancelar: primero listar_citas para obtener el ID, luego cancelar_cita con event_id\\n' +\n'- Si algo falla, pide al cliente que llame directamente a la peluquería'\n}}"}}},{"id":"b9","name":"GPT-4o","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[1640,520],"credentials":{"openAiApi":{"id":"yP40pwSI3QNYuEib","name":"OpenAI account"}},"parameters":{"model":"gpt-4o","options":{"temperature":0.3}}},{"id":"b10","name":"Memoria Chat","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[1860,520],"parameters":{"sessionKey":"={{ $json.chat_id }}","sessionIdType":"customKey","contextWindowLength":12}},{"id":"b11","name":"Herramienta Calendario","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.3,"position":[2080,520],"parameters":{"name":"gestor_citas","description":"Gestiona citas en Kortesitos Kids. Usa operation: verificar_disponibilidad (horarios libres para fecha+servicio), crear_cita (agenda una cita), listar_citas (citas próximas del cliente), cancelar_cita (cancela por event_id). Siempre incluye chat_id.","workflowId":{"__rl":true,"value":"FD9R8RCfxi1G0AYp","mode":"id"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"schema":[{"id":"operation","displayName":"operation","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"fecha","displayName":"fecha","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"hora","displayName":"hora","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"cliente_nombre","displayName":"cliente_nombre","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"servicio","displayName":"servicio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"duracion_minutos","displayName":"duracion_minutos","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false},{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"event_id","displayName":"event_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false}]},"fields":{"values":[{"name":"operation","type":"string","stringValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('operation', 'Operacion a realizar', 'string') }}"},{"name":"fecha","type":"string","stringValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fecha', 'Fecha YYYY-MM-DD', 'string') }}"},{"name":"hora","type":"string","stringValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('hora', 'Hora HH:MM formato 24h', 'string') }}"},{"name":"cliente_nombre","type":"string","stringValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('cliente_nombre', 'Nombre del cliente', 'string') }}"},{"name":"servicio","type":"string","stringValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('servicio', 'Nombre del servicio', 'string') }}"},{"name":"duracion_minutos","type":"number","numberValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('duracion_minutos', 'Duracion en minutos', 'number') }}"},{"name":"chat_id","type":"string","stringValue":"={{ $json.chat_id }}"},{"name":"event_id","type":"string","stringValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('event_id', 'ID del evento Google Calendar', 'string') }}"}]}}},{"id":"b12","name":"Responder al Cliente","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1940,300],"credentials":{"telegramApi":{"id":"5TDadkfQPVQyb5Jq","name":"Telegram account"}},"parameters":{"resource":"message","operation":"sendMessage","chatId":"={{ $('Extraer Texto').first()?.json?.chat_id || $('Extraer Transcripción').first()?.json?.chat_id }}","text":"={{ $json.output }}","additionalFields":{"parse_mode":"Markdown"}},"webhookId":"c6b5e037-23c4-49c4-b9dd-3b19104fab8d"}],"connections":{"Telegram Trigger":{"main":[[{"node":"¿Es Voz?","type":"main","index":0}]]},"¿Es Voz?":{"main":[[{"node":"Obtener URL Audio","type":"main","index":0}],[{"node":"Extraer Texto","type":"main","index":0}]]},"Obtener URL Audio":{"main":[[{"node":"Descargar Audio","type":"main","index":0}]]},"Descargar Audio":{"main":[[{"node":"Transcribir Audio","type":"main","index":0}]]},"Transcribir Audio":{"main":[[{"node":"Extraer Transcripción","type":"main","index":0}]]},"Extraer Texto":{"main":[[{"node":"Asistente Kortesitos","type":"main","index":0}]]},"Extraer Transcripción":{"main":[[{"node":"Asistente Kortesitos","type":"main","index":0}]]},"Asistente Kortesitos":{"main":[[{"node":"Responder al Cliente","type":"main","index":0}]]},"GPT-4o":{"ai_languageModel":[[{"node":"Asistente Kortesitos","type":"ai_languageModel","index":0}]]},"Memoria Chat":{"ai_memory":[[{"node":"Asistente Kortesitos","type":"ai_memory","index":0}]]},"Herramienta Calendario":{"ai_tool":[[{"node":"Asistente Kortesitos","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null}