cal_wf_raw.json
{"updatedAt":"2026-04-20T02:27:07.235Z","createdAt":"2026-04-19T23:51:29.577Z","id":"FD9R8RCfxi1G0AYp","name":"Kortesitos Kids - Herramienta Calendario","description":null,"active":false,"isArchived":false,"nodes":[{"id":"n1","name":"When Called by Tool","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[240,400],"parameters":{}},{"id":"n2","name":"Router","type":"n8n-nodes-base.switch","typeVersion":3,"position":[460,400],"parameters":{"mode":"rules","rules":{"values":[{"conditions":{"conditions":[{"leftValue":"={{ $json.operation }}","rightValue":"verificar_disponibilidad","operator":{"type":"string","operation":"equals"}}],"combinator":"and","options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose"}}},{"conditions":{"conditions":[{"leftValue":"={{ $json.operation }}","rightValue":"crear_cita","operator":{"type":"string","operation":"equals"}}],"combinator":"and","options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose"}}},{"conditions":{"conditions":[{"leftValue":"={{ $json.operation }}","rightValue":"listar_citas","operator":{"type":"string","operation":"equals"}}],"combinator":"and","options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose"}}},{"conditions":{"conditions":[{"leftValue":"={{ $json.operation }}","rightValue":"cancelar_cita","operator":{"type":"string","operation":"equals"}}],"combinator":"and","options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose"}}}]},"options":{}}},{"id":"n3","name":"Eventos del Día","type":"n8n-nodes-base.googleCalendar","typeVersion":1,"position":[700,150],"continueOnFail":true,"credentials":{"googleCalendarOAuth2Api":{"id":"75YMYfjSChZlaKFH","name":"Google Calendar account"}},"parameters":{"resource":"event","operation":"getAll","calendarId":"primary","returnAll":true,"timeMin":"={{ new Date($json.fecha + 'T00:00:00-05:00').toISOString() }}","timeMax":"={{ new Date($json.fecha + 'T23:59:59-05:00').toISOString() }}","options":{"singleEvents":true,"orderBy":"startTime"}}},{"id":"n4","name":"Calcular Disponibilidad","type":"n8n-nodes-base.code","typeVersion":2,"position":[940,150],"parameters":{"mode":"runOnceForAllItems","jsCode":"const input = $('When Called by Tool').first().json;\nconst fecha = input.fecha;\nconst servicio = (input.servicio || '').toLowerCase();\nconst durMap = {\n  'corte cabello': 30, 'cepillado': 45, 'peinado niña': 45, 'corte + barba': 45,\n  'trenzas sencillas': 60, 'trenzas con extensión': 90, 'moños': 30,\n  'recogidos': 30, 'spa capilar': 60, 'maquillaje': 45, 'corte dama': 45\n};\nlet duracion = 45;\nfor (const [k, v] of Object.entries(durMap)) {\n  if (servicio.includes(k)) { duracion = v; break; }\n}\nconst fechaObj = new Date(fecha + 'T12:00:00-05:00');\nconst dow = fechaObj.getDay();\nconst horaFin = dow === 0 ? 17 : 19;\nconst allItems = $input.all();\nconst eventos = allItems\n  .filter(item => item.json && item.json.id)\n  .map(item => ({\n    start: new Date(item.json.start?.dateTime || (item.json.start?.date + 'T00:00:00-05:00')),\n    end:   new Date(item.json.end?.dateTime   || (item.json.end?.date   + 'T23:59:59-05:00'))\n  }));\nconst slots = [];\nfor (let m = 9 * 60; m + duracion <= horaFin * 60; m += 30) {\n  const hh = String(Math.floor(m / 60)).padStart(2, '0');\n  const mm = String(m % 60).padStart(2, '0');\n  const sS = new Date(fecha + 'T' + hh + ':' + mm + ':00-05:00');\n  const sE = new Date(sS.getTime() + duracion * 60000);\n  if (!eventos.some(e => sS < e.end && sE > e.start)) slots.push(hh + ':' + mm);\n}\nconst dias = ['domingo','lunes','martes','miércoles','jueves','viernes','sábado'];\nif (!slots.length) {\n  return [{ json: { resultado: 'No hay horarios disponibles el ' + fecha + ' (' + dias[dow] + '). Elige otra fecha.' } }];\n}\nreturn [{ json: { resultado: '📅 Horarios libres el ' + fecha + ' (' + dias[dow] + ') para *' + (input.servicio || 'el servicio') + '*:\\n' + slots.map(s => '• ' + s).join('\\n') + '\\n_(duración aprox. ' + duracion + ' min)_', slots, duracion } }];"}},{"id":"n5","name":"Crear Evento","type":"n8n-nodes-base.googleCalendar","typeVersion":1,"position":[700,350],"credentials":{"googleCalendarOAuth2Api":{"id":"75YMYfjSChZlaKFH","name":"Google Calendar account"}},"parameters":{"resource":"event","operation":"create","calendarId":"primary","start":"={{ new Date($json.fecha + 'T' + $json.hora + ':00-05:00').toISOString() }}","end":"={{ new Date(new Date($json.fecha + 'T' + $json.hora + ':00-05:00').getTime() + ($json.duracion_minutos || 45) * 60000).toISOString() }}","additionalFields":{"summary":"={{ '✂️ ' + $json.servicio + ' - ' + $json.cliente_nombre }}","description":"={{ 'chat_id:' + $json.chat_id + '\\nServicio: ' + $json.servicio + '\\nCliente: ' + $json.cliente_nombre + '\\nAgendado via bot' }}"}}},{"id":"n6","name":"Confirmar Cita","type":"n8n-nodes-base.code","typeVersion":2,"position":[940,350],"parameters":{"mode":"runOnceForAllItems","jsCode":"const e = $input.first().json;\nconst i = $('When Called by Tool').first().json;\nconst dias = ['domingo','lunes','martes','miércoles','jueves','viernes','sábado'];\nconst diaStr = dias[new Date(i.fecha + 'T12:00:00-05:00').getDay()];\nreturn [{ json: { resultado: '✅ *¡Cita confirmada!*\\n\\n📅 ' + diaStr + ' ' + i.fecha + '\\n⏰ ' + i.hora + '\\n✂️ ' + i.servicio + '\\n👤 ' + i.cliente_nombre + '\\n\\n📍 Cra 80 #10A-10 Local 21, Cali\\n\\nTe avisamos 24h y 2h antes. ¡Nos vemos! 💙', event_id: e.id || '' } }];"}},{"id":"n7","name":"Próximas Citas","type":"n8n-nodes-base.googleCalendar","typeVersion":1,"position":[700,550],"continueOnFail":true,"credentials":{"googleCalendarOAuth2Api":{"id":"75YMYfjSChZlaKFH","name":"Google Calendar account"}},"parameters":{"resource":"event","operation":"getAll","calendarId":"primary","returnAll":false,"limit":20,"timeMin":"={{ new Date().toISOString() }}","timeMax":"={{ new Date(Date.now() + 30 * 24 * 60 * 60 * 1000).toISOString() }}","options":{"singleEvents":true,"orderBy":"startTime"}}},{"id":"n8","name":"Formatear Lista","type":"n8n-nodes-base.code","typeVersion":2,"position":[940,550],"parameters":{"mode":"runOnceForAllItems","jsCode":"const i = $('When Called by Tool').first().json;\nconst cid = String(i.chat_id || '');\nconst misEventos = $input.all()\n  .filter(item => item.json?.id && (item.json.description || '').includes('chat_id:' + cid))\n  .map(item => {\n    const ev = item.json;\n    const startStr = ev.start?.dateTime || ev.start?.date;\n    const fecha = startStr ? new Date(startStr).toLocaleDateString('es-CO', {weekday:'long',year:'numeric',month:'long',day:'numeric',timeZone:'America/Bogota'}) : '?';\n    const hora = ev.start?.dateTime ? new Date(ev.start.dateTime).toLocaleTimeString('es-CO',{hour:'2-digit',minute:'2-digit',timeZone:'America/Bogota'}) : '';\n    return { fecha, hora, titulo: ev.summary || 'Cita', eventId: ev.id };\n  });\nif (!misEventos.length) return [{ json: { resultado: 'No tienes citas próximas agendadas. ¿Deseas agendar una?' } }];\nconst lista = misEventos.map((e,idx) => (idx+1) + '. 📅 ' + e.fecha + ' ⏰ ' + e.hora + '\\n   ✂️ ' + e.titulo + '\\n   🔑 ID: ' + e.eventId).join('\\n\\n');\nreturn [{ json: { resultado: '📋 *Tus próximas citas:*\\n\\n' + lista, citas: misEventos } }];"}},{"id":"n9","name":"Eliminar Cita","type":"n8n-nodes-base.googleCalendar","typeVersion":1,"position":[700,750],"credentials":{"googleCalendarOAuth2Api":{"id":"75YMYfjSChZlaKFH","name":"Google Calendar account"}},"parameters":{"resource":"event","operation":"delete","calendarId":"primary","eventId":"={{ $json.event_id }}"}},{"id":"n10","name":"Cita Cancelada","type":"n8n-nodes-base.code","typeVersion":2,"position":[940,750],"parameters":{"mode":"runOnceForAllItems","jsCode":"return [{ json: { resultado: '✅ Tu cita ha sido cancelada. ¡Cuando quieras volver a agendar, aquí estamos! 💙' } }];"}}],"connections":{"When Called by Tool":{"main":[[{"node":"Router","type":"main","index":0}]]},"Router":{"main":[[{"node":"Eventos del Día","type":"main","index":0}],[{"node":"Crear Evento","type":"main","index":0}],[{"node":"Próximas Citas","type":"main","index":0}],[{"node":"Eliminar Cita","type":"main","index":0}]]},"Eventos del Día":{"main":[[{"node":"Calcular Disponibilidad","type":"main","index":0}]]},"Crear Evento":{"main":[[{"node":"Confirmar Cita","type":"main","index":0}]]},"Próximas Citas":{"main":[[{"node":"Formatear Lista","type":"main","index":0}]]},"Eliminar Cita":{"main":[[{"node":"Cita Cancelada","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"00139c9c-8dbf-477d-9e1d-f7f796e1c24c","activeVersionId":null,"versionCounter":7,"triggerCount":0,"shared":[{"updatedAt":"2026-04-19T23:51:29.577Z","createdAt":"2026-04-19T23:51:29.577Z","role":"workflow:owner","workflowId":"FD9R8RCfxi1G0AYp","projectId":"LFBmCBHKzvZz1raL","project":{"updatedAt":"2026-04-19T22:47:41.604Z","createdAt":"2026-04-19T22:45:45.850Z","id":"LFBmCBHKzvZz1raL","name":"Fernando 96 <fernando.030415@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"2b8f4bd8-9d65-4daa-a0e2-b8f84085d1ae"}}],"tags":[],"activeVersion":null}