kortesitos_agente_principal.json
{
  "name": "Kortesitos Kids - Agente Principal",
  "nodes": [
    {
      "parameters": {
        "updates": ["message"],
        "additionalFields": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [-600, 300],
      "webhookId": "kortesitos-main-001"
    },
    {
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "loose"},
          "conditions": [
            {
              "id": "check-voice",
              "leftValue": "={{ $json.message.voice }}",
              "rightValue": "",
              "operator": {"type": "object", "operation": "exists", "singleValue": true}
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0002-0002-0002-000000000002",
      "name": "Es Audio?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-380, 300]
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/bot{{ $vars.TELEGRAM_TOKEN }}/getFile",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "file_id",
              "value": "={{ $json.message.voice.file_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0003-0003-0003-000000000003",
      "name": "Obtener Info Audio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-160, 180]
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/file/bot{{ $vars.TELEGRAM_TOKEN }}/{{ $json.result.file_path }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "a1b2c3d4-0004-0004-0004-000000000004",
      "name": "Descargar Audio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [60, 180]
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {
          "language": "es"
        }
      },
      "id": "a1b2c3d4-0005-0005-0005-000000000005",
      "name": "Transcribir Audio",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [280, 180]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "assign-text",
              "name": "texto_mensaje",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "assign-chatid",
              "name": "chat_id",
              "value": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
              "type": "string"
            },
            {
              "id": "assign-nombre",
              "name": "nombre_cliente",
              "value": "={{ $('Telegram Trigger').item.json.message.from.first_name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0006-0006-0006-000000000006",
      "name": "Preparar Mensaje Audio",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [500, 180]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "assign-text2",
              "name": "texto_mensaje",
              "value": "={{ $json.message.text }}",
              "type": "string"
            },
            {
              "id": "assign-chatid2",
              "name": "chat_id",
              "value": "={{ $json.message.chat.id }}",
              "type": "string"
            },
            {
              "id": "assign-nombre2",
              "name": "nombre_cliente",
              "value": "={{ $json.message.from.first_name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0007-0007-0007-000000000007",
      "name": "Preparar Mensaje Texto",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-160, 420]
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "output": "input1"
      },
      "id": "a1b2c3d4-0008-0008-0008-000000000008",
      "name": "Unir Flujos",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [720, 300]
    },
    {
      "parameters": {
        "agent": "conversationalAgent",
        "promptType": "define",
        "text": "=Cliente: {{ $json.nombre_cliente }}\nChat ID: {{ $json.chat_id }}\nMensaje: {{ $json.texto_mensaje }}",
        "options": {
          "systemMessage": "Eres Korti, la asistente virtual de Kortesitos Kids Peluquería & Spa, ubicada en Cali, Cra 80 #10A-10 Local 21.\n\nHORARIOS:\n- Lunes a sábado: 9am - 7pm\n- Domingo: 9am - 5pm\n\nSERVICIOS Y PRECIOS:\n- Corte de cabello: $39.900\n- Cepillado: $29.000\n- Peinado niña: $39.900\n- Corte + barba: $46.900\n- Trenzas sencillas: $35.000\n- Trenzas con extensión: desde $55.000\n- Moños / recogidos niña: $25.000\n- Spa capilar: $45.000\n- Maquillaje mamá: $40.000\n- Corte dama: $35.000\n\nINSTRUCCIONES:\n1. Responde siempre en español, de forma amigable y cariñosa, especialmente con los niños.\n2. Cuando el cliente quiera agendar, pregunta: nombre completo, servicio deseado, fecha y hora preferida.\n3. Verifica disponibilidad en Google Calendar antes de confirmar.\n4. Crea el evento en Google Calendar con: nombre del cliente, servicio, número de Telegram (chat_id).\n5. Ofrece servicios adicionales según el contexto:\n   - Si vienen con niños → ofrece maquillaje o cepillado para mamá\n   - Si es corte → ofrece spa capilar o peinado\n   - Si es peinado → ofrece trenzas o recogidos\n6. Confirma siempre la cita con fecha, hora y servicio.\n7. NUNCA compartas información interna del negocio, precios de costo, datos personales del personal, ni proceses pagos.\n8. Si no puedes ayudar con algo, responde: 'Para eso necesitas hablar directamente con el salón.'"
        }
      },
      "id": "a1b2c3d4-0009-0009-0009-000000000009",
      "name": "Agente IA Korti",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [940, 300]
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {
          "temperature": 0.7
        }
      },
      "id": "a1b2c3d4-0010-0010-0010-000000000010",
      "name": "GPT-4o",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [840, 500]
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Unir Flujos').item.json.chat_id }}"
      },
      "id": "a1b2c3d4-0011-0011-0011-000000000011",
      "name": "Memoria Conversacion",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [940, 500]
    },
    {
      "parameters": {
        "name": "verificar_disponibilidad",
        "description": "Verifica si hay disponibilidad en el calendario para una fecha y hora específica. Usa este tool cuando el cliente quiera agendar una cita.",
        "workflowId": { "__rl": true, "mode": "id", "value": "REEMPLAZAR_CON_ID_SUBWORKFLOW" },
        "fields": {
          "values": [
            {
              "name": "accion",
              "stringValue": "verificar"
            },
            {
              "name": "fecha_hora",
              "stringValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fecha_hora', 'Fecha y hora a verificar en formato ISO 8601', 'string') }}"
            }
          ]
        }
      },
      "id": "a1b2c3d4-0012-0012-0012-000000000012",
      "name": "Tool Verificar Disponibilidad",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [1040, 500]
    },
    {
      "parameters": {
        "name": "crear_cita",
        "description": "Crea una cita en Google Calendar. Usa este tool cuando el cliente confirme que quiere agendar.",
        "workflowId": { "__rl": true, "mode": "id", "value": "REEMPLAZAR_CON_ID_SUBWORKFLOW" },
        "fields": {
          "values": [
            {
              "name": "accion",
              "stringValue": "crear"
            },
            {
              "name": "nombre_cliente",
              "stringValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('nombre_cliente', 'Nombre completo del cliente', 'string') }}"
            },
            {
              "name": "servicio",
              "stringValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('servicio', 'Servicio solicitado', 'string') }}"
            },
            {
              "name": "fecha_inicio",
              "stringValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fecha_inicio', 'Fecha y hora inicio en formato ISO 8601', 'string') }}"
            },
            {
              "name": "fecha_fin",
              "stringValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fecha_fin', 'Fecha y hora fin en formato ISO 8601', 'string') }}"
            },
            {
              "name": "chat_id",
              "stringValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('chat_id', 'ID de Telegram del cliente', 'string') }}"
            }
          ]
        }
      },
      "id": "a1b2c3d4-0013-0013-0013-000000000013",
      "name": "Tool Crear Cita",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [1140, 500]
    },
    {
      "parameters": {
        "chatId": "={{ $('Unir Flujos').item.json.chat_id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "a1b2c3d4-0014-0014-0014-000000000014",
      "name": "Enviar Respuesta Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1160, 300]
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [{ "node": "Es Audio?", "type": "main", "index": 0 }]
      ]
    },
    "Es Audio?": {
      "main": [
        [{ "node": "Obtener Info Audio", "type": "main", "index": 0 }],
        [{ "node": "Preparar Mensaje Texto", "type": "main", "index": 0 }]
      ]
    },
    "Obtener Info Audio": {
      "main": [
        [{ "node": "Descargar Audio", "type": "main", "index": 0 }]
      ]
    },
    "Descargar Audio": {
      "main": [
        [{ "node": "Transcribir Audio", "type": "main", "index": 0 }]
      ]
    },
    "Transcribir Audio": {
      "main": [
        [{ "node": "Preparar Mensaje Audio", "type": "main", "index": 0 }]
      ]
    },
    "Preparar Mensaje Audio": {
      "main": [
        [{ "node": "Unir Flujos", "type": "main", "index": 0 }]
      ]
    },
    "Preparar Mensaje Texto": {
      "main": [
        [{ "node": "Unir Flujos", "type": "main", "index": 1 }]
      ]
    },
    "Unir Flujos": {
      "main": [
        [{ "node": "Agente IA Korti", "type": "main", "index": 0 }]
      ]
    },
    "Agente IA Korti": {
      "main": [
        [{ "node": "Enviar Respuesta Telegram", "type": "main", "index": 0 }]
      ]
    },
    "GPT-4o": {
      "ai_languageModel": [
        [{ "node": "Agente IA Korti", "type": "ai_languageModel", "index": 0 }]
      ]
    },
    "Memoria Conversacion": {
      "ai_memory": [
        [{ "node": "Agente IA Korti", "type": "ai_memory", "index": 0 }]
      ]
    },
    "Tool Verificar Disponibilidad": {
      "ai_tool": [
        [{ "node": "Agente IA Korti", "type": "ai_tool", "index": 0 }]
      ]
    },
    "Tool Crear Cita": {
      "ai_tool": [
        [{ "node": "Agente IA Korti", "type": "ai_tool", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": []
}
