kortesitos_seguimiento_24h.json
{
  "name": "Kortesitos Kids - Seguimiento 24h",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      },
      "id": "c1d2e3f4-0001-0001-0001-000000000001",
      "name": "Cada Hora",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-600, 300]
    },
    {
      "parameters": {
        "resource": "event",
        "operation": "getAll",
        "calendar": { "__rl": true, "value": "primary", "mode": "id" },
        "timeMin": "={{ DateTime.now().minus({hours: 25}).toISO() }}",
        "timeMax": "={{ DateTime.now().minus({hours: 23}).toISO() }}",
        "options": {
          "singleEvents": true
        }
      },
      "id": "c1d2e3f4-0002-0002-0002-000000000002",
      "name": "Eventos de Hace 24h",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [-380, 300]
    },
    {
      "parameters": {
        "jsCode": "const eventos = $input.all();\nconst atendidos = [];\n\nfor (const item of eventos) {\n  const desc = item.json.description || '';\n  const chatIdMatch = desc.match(/Telegram Chat ID: (\\d+)/);\n  const atendido = desc.includes('Atendido: SI');\n  const seguimientoEnviado = desc.includes('Seguimiento: ENVIADO');\n  \n  if (chatIdMatch && atendido && !seguimientoEnviado) {\n    atendidos.push({\n      json: {\n        event_id: item.json.id,\n        chat_id: chatIdMatch[1],\n        servicio: item.json.summary,\n        nombre: item.json.summary.split(' - ')[1] || 'Cliente',\n        descripcion_original: desc\n      }\n    });\n  }\n}\n\nreturn atendidos.length > 0 ? atendidos : [{ json: { sin_seguimiento: true } }];"
      },
      "id": "c1d2e3f4-0003-0003-0003-000000000003",
      "name": "Filtrar Atendidos Sin Seguimiento",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-160, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "loose"},
          "conditions": [
            {
              "id": "check-sin-seg",
              "leftValue": "={{ $json.sin_seguimiento }}",
              "rightValue": true,
              "operator": {"type": "boolean", "operation": "true", "singleValue": true}
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c1d2e3f4-0004-0004-0004-000000000004",
      "name": "Hay Clientes?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [60, 300]
    },
    {
      "parameters": {
        "resource": "text",
        "operation": "message",
        "model": "gpt-4o",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "Eres Korti de Kortesitos Kids. Genera un mensaje corto, amigable y cariñoso de seguimiento post-servicio para enviar por Telegram. El mensaje debe preguntar si el cliente quedó satisfecho con el servicio, invitar a volver y mencionar que pueden agendar su próxima cita. Máximo 3 líneas. En español. Sin emojis excesivos, máximo 2."
            },
            {
              "role": "user",
              "content": "=Genera el mensaje para: {{ $json.nombre }} que recibió el servicio: {{ $json.servicio }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c1d2e3f4-0005-0005-0005-000000000005",
      "name": "Generar Mensaje Seguimiento",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [280, 420]
    },
    {
      "parameters": {
        "chatId": "={{ $('Filtrar Atendidos Sin Seguimiento').item.json.chat_id }}",
        "text": "={{ $json.message.content }}",
        "additionalFields": {}
      },
      "id": "c1d2e3f4-0006-0006-0006-000000000006",
      "name": "Enviar Mensaje Seguimiento",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [500, 420]
    },
    {
      "parameters": {
        "resource": "event",
        "operation": "update",
        "calendar": { "__rl": true, "value": "primary", "mode": "id" },
        "eventId": "={{ $('Filtrar Atendidos Sin Seguimiento').item.json.event_id }}",
        "updateFields": {
          "description": "={{ $('Filtrar Atendidos Sin Seguimiento').item.json.descripcion_original + '\\nSeguimiento: ENVIADO\\nFecha seguimiento: ' + DateTime.now().toISO() }}"
        }
      },
      "id": "c1d2e3f4-0007-0007-0007-000000000007",
      "name": "Marcar Seguimiento Enviado",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [720, 420]
    }
  ],
  "connections": {
    "Cada Hora": {
      "main": [
        [{ "node": "Eventos de Hace 24h", "type": "main", "index": 0 }]
      ]
    },
    "Eventos de Hace 24h": {
      "main": [
        [{ "node": "Filtrar Atendidos Sin Seguimiento", "type": "main", "index": 0 }]
      ]
    },
    "Filtrar Atendidos Sin Seguimiento": {
      "main": [
        [{ "node": "Hay Clientes?", "type": "main", "index": 0 }]
      ]
    },
    "Hay Clientes?": {
      "main": [
        [],
        [{ "node": "Generar Mensaje Seguimiento", "type": "main", "index": 0 }]
      ]
    },
    "Generar Mensaje Seguimiento": {
      "main": [
        [{ "node": "Enviar Mensaje Seguimiento", "type": "main", "index": 0 }]
      ]
    },
    "Enviar Mensaje Seguimiento": {
      "main": [
        [{ "node": "Marcar Seguimiento Enviado", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": []
}
