rem_wf_raw.json
{"updatedAt":"2026-04-20T02:27:07.944Z","createdAt":"2026-04-20T02:27:07.944Z","id":"WLbNPtKK0UkxfinI","name":"Kortesitos Kids - Recordatorios","description":null,"active":false,"isArchived":false,"nodes":[{"id":"r1","name":"Cada 30 Minutos","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[240,300],"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":30}]}}},{"id":"r2","name":"Obtener Citas Próximas","type":"n8n-nodes-base.googleCalendar","typeVersion":1,"position":[460,300],"continueOnFail":true,"credentials":{"googleCalendarOAuth2Api":{"id":"75YMYfjSChZlaKFH","name":"Google Calendar account"}},"parameters":{"resource":"event","operation":"getAll","calendarId":"primary","returnAll":false,"limit":50,"timeMin":"={{ new Date().toISOString() }}","timeMax":"={{ new Date(Date.now() + 26 * 60 * 60 * 1000).toISOString() }}","options":{"singleEvents":true,"orderBy":"startTime"}}},{"id":"r3","name":"Filtrar Recordatorios","type":"n8n-nodes-base.code","typeVersion":2,"position":[700,300],"parameters":{"mode":"runOnceForAllItems","jsCode":"const now = new Date();\nconst recordatorios = [];\nfor (const item of $input.all()) {\n  const ev = item.json;\n  if (!ev?.id || !ev.description?.includes('chat_id:')) continue;\n  const startMs = new Date(ev.start?.dateTime || ev.start?.date).getTime();\n  const diffMin = (startMs - now.getTime()) / 60000;\n  const desc = ev.description || '';\n  const chatIdMatch = desc.match(/chat_id:(\\d+)/);\n  if (!chatIdMatch) continue;\n  const chatId = chatIdMatch[1];\n  if (diffMin >= 23*60 && diffMin < 25*60 && !desc.includes('rem24h:ok')) {\n    const f = new Date(ev.start?.dateTime).toLocaleString('es-CO', {weekday:'long',month:'long',day:'numeric',hour:'2-digit',minute:'2-digit',timeZone:'America/Bogota'});\n    recordatorios.push({ chatId, eventId: ev.id, mensaje: '⏰ *Recordatorio Kortesitos Kids*\\n\\nTienes una cita mañana:\\n' + ev.summary + '\\n📅 ' + f + '\\n📍 Cra 80 #10A-10 Local 21, Cali\\n\\n¡Te esperamos! 💙', tipo: '24h' });\n  }\n  if (diffMin >= 110 && diffMin < 130 && !desc.includes('rem2h:ok')) {\n    const h = new Date(ev.start?.dateTime).toLocaleTimeString('es-CO',{hour:'2-digit',minute:'2-digit',timeZone:'America/Bogota'});\n    recordatorios.push({ chatId, eventId: ev.id, mensaje: '⏰ *¡Tu cita es hoy!*\\n\\n' + ev.summary + '\\nA las ' + h + '\\n📍 Cra 80 #10A-10 Local 21, Cali\\n\\n¡Ya casi, te esperamos! 💙', tipo: '2h' });\n  }\n}\nreturn recordatorios.length ? recordatorios.map(r => ({ json: r })) : [{ json: { skip: true } }];"}},{"id":"r4","name":"¿Hay recordatorios?","type":"n8n-nodes-base.if","typeVersion":2,"position":[940,300],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose"},"conditions":[{"id":"cs","leftValue":"={{ $json.skip }}","rightValue":true,"operator":{"type":"boolean","operation":"notEquals"}}],"combinator":"and"}}},{"id":"r5","name":"Enviar Recordatorio","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1180,200],"credentials":{"telegramApi":{"id":"5TDadkfQPVQyb5Jq","name":"Telegram account"}},"parameters":{"resource":"message","operation":"sendMessage","chatId":"={{ $json.chatId }}","text":"={{ $json.mensaje }}","additionalFields":{"parse_mode":"Markdown"}},"webhookId":"5eeea0bc-fc1f-4b9e-b549-8600678871c1"},{"id":"r6","name":"Marcar Recordatorio Enviado","type":"n8n-nodes-base.googleCalendar","typeVersion":1,"position":[1420,200],"credentials":{"googleCalendarOAuth2Api":{"id":"75YMYfjSChZlaKFH","name":"Google Calendar account"}},"parameters":{"resource":"event","operation":"update","calendarId":"primary","eventId":"={{ $json.eventId }}","updateFields":{"description":"={{ $('Obtener Citas Próximas').all().find(i => i.json.id === $json.eventId)?.json?.description + ($json.tipo === '24h' ? '\\nrem24h:ok' : '\\nrem2h:ok') }}"}}}],"connections":{"Cada 30 Minutos":{"main":[[{"node":"Obtener Citas Próximas","type":"main","index":0}]]},"Obtener Citas Próximas":{"main":[[{"node":"Filtrar Recordatorios","type":"main","index":0}]]},"Filtrar Recordatorios":{"main":[[{"node":"¿Hay recordatorios?","type":"main","index":0}]]},"¿Hay recordatorios?":{"main":[[{"node":"Enviar Recordatorio","type":"main","index":0}],[]]},"Enviar Recordatorio":{"main":[[{"node":"Marcar Recordatorio Enviado","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"bacbc149-d789-467c-8c98-996697f3b77f","activeVersionId":null,"versionCounter":1,"triggerCount":0,"shared":[{"updatedAt":"2026-04-20T02:27:07.944Z","createdAt":"2026-04-20T02:27:07.944Z","role":"workflow:owner","workflowId":"WLbNPtKK0UkxfinI","projectId":"LFBmCBHKzvZz1raL","project":{"updatedAt":"2026-04-19T22:47:41.604Z","createdAt":"2026-04-19T22:45:45.850Z","id":"LFBmCBHKzvZz1raL","name":"Fernando 96 <fernando.030415@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"2b8f4bd8-9d65-4daa-a0e2-b8f84085d1ae"}}],"tags":[],"activeVersion":null}